{% extends "demo/base.html" %}
{% load django_listing %}
{% load static %}

{% block body %}
    <h2>There are many ways...</h2>
    <div class="list-group col-md-6 offset-md-3 django-listing-menu">
        <a class="list-group-item list-group-item-action" href="{% url "many_ways1" %}">
            <b>Many ways to create a listing</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "many_ways2" %}">
            <b>Many ways to override parameters</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "many_ways3" %}">
            <b>Many ways to override methods</b></a>
    </div>
{% endblock %}
