{% extends "demo/base.html" %}
{% load django_listing %}
{% load i18n %}

{% block body %}
    <h2><a href="{% url 'ref_guide' %}">Reference guide</a> : <code>HTMLAttribute</code></h2>

    <h3>Introduction</h3>
    <p><code>HTMLAttribute</code> objects are used to build and render attributes that are in HTML tags.
        It is composed of <code>id, class, style, url</code> as well as custom attributes</p>
    <p>With django-listing, many parameters with the form <code>xxx_attrs</code> can have <code>HTMLAttribute</code> object as value.
    But this is not mandatory, it could be a dictionary that contains HTML tag attributes and values :
        Django internally convert them into HTMAttribute objects</p>
    <p>HTMLAttribute objects are basically <code>dict</code> where values are strings but act like a <code>set()</code> objects.
        This is useful for adding many values to a same attribute (ie : <code>class</code> and <code>style</code>) and ensure they are unique.</p>
    <p>For <code>style</code> attribute rendering, <code>HTMLAttribute</code> use <code>;</code> as separator</p>
    <br><br>
    <h3>Methods</h3>
    <table class="ref-guide name-desc">
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr><td>add(attr, value)</td><td>Adds a value to an attribute</td></tr>
            <tr><td>remove(attr, value)</td><td>Remove a value to an attribute</td></tr>
            <tr><td>set(attr, value)</td><td>Set a value to an attribute. Can also use <code>dict</code> syntax : <code>myattrs[attr] = value</code></td></tr>
            <tr><td>update(*args, **kwargs)</td><td>Act like <code>dict.update()</code> except you can use <code>_class</code> to set <code>class</code></td></tr>
            <tr><td>copy()</td><td>Gives a copy of the HTMLAttribute object</td></tr>
            <tr><td>__str__()</td><td>Renders the attributes with this form : <code>attr1="value1 value2..." style="value3; value4; ..."</code></td></tr>
        </tbody>
    </table>
    <br><br>
{% endblock %}
