{% extends "demo/base.html" %}
{% load django_listing %}
{% load demo_extras %}
{% load i18n %}

{% block body %}
    <h2><a href="{% url 'ref_guide' %}">Reference guide</a> : Attached form</h2>
    <p>You can attach a form to a listing in order to interact with it. Many actions are available and custom ones can be created.</p>
    <p>In order to work, you need to activate Ajax requests and auto-fill (<code>accept_ajax = True</code> and <code>attached_form_autofill = True</code>) and define <code>attached_form</code> parameter in listing definition.</p>
    <p>Listing <code>attached_form</code> must contain an <code>AttachedForm</code> instance with parameters below :</p>
    <h3>Basic parameters</h3>
    <table class="ref-guide">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tbody>
            <tr><td>attrs</td><td>HTML attribute for the form</td><td>{"class": "listing-form"}</td></tr>
            <tr><td>buttons</td><td>Buttons to display at the bottom of the form</td><td>"reset,submit"</td></tr>
            <tr><td>display_errors</td><td>Display form validation errors</td><td>True</td></tr>
            <tr><td>form_base_class</td><td></td><td>ListingBaseForm</td></tr>
            <tr><td>layout</td><td>form fields layout</td><td>None</td></tr>
            <tr><td>listing</td><td><b>Read-only value :</b> The listing instance the attached form is bound with</td><td>None</td></tr>
            <tr><td>name</td><td>Be careful : The form's name is used on some method's name. It is suggested to not customize it.</td><td>"attached_form"</td></tr>
            <tr><td>reset_icon</td><td></td><td>None</td></tr>
            <tr><td>reset_label</td><td></td><td>"Reset"</td></tr>
            <tr><td>submit_action</td><td></td><td>"insert"</td></tr>
            <tr><td>submit_icon</td><td></td><td>None</td></tr>
            <tr><td>submit_label</td><td></td><td>"Add"</td></tr>
            <tr><td>template_name</td><td>django template to use to render attached form</td><td>"django_listing/&lt;THEME&gt;/attached_form.html"</td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Layout</h3>
    <p> Django-listing uses column declaration to deduce the form field to use when creating dynamically the attached form.
        If you want an additional form field in the attached form, you must declare a custom column in listing columns parameter even if it's not displayed in the listing itself.</p>
    <p>To declare form field layout, specify columns names for each line you want inside the form. You can use list of lists or one string seperated by a <code>,</code> between each form field an by a <code>;</code> for each line.
        The <code>layout</code> parameter can be defined in <code>AttachedForm</code> creation parameters or in its instance.</p>
    <p>Example :</p>

    <pre><code class="language-python">{% codelisting %}{% verbatim %}
    from django_listing import *
    ...
    class MyListing(Listing):
        ...
        accept_ajax = True
        selectable = True
        ...
        columns = ModelColumns(
            MyModel,  # let's say model has first_name,last_name,age,address attributes
            Column("additional_col1", parameters....),  # just created for specific form field in attached form
            Column("additional_col2", parameters....),  # just created for specific form field in attached form
            ...
        )
        select_columns = "first_name,last_name"  # display only some columns in listing
        ...
        attached_form_autofill = True
        attached_form = AttachedForm(
            "attached_edit_form",  # attached form's name
            layout=(
                "id,first_name,last_name,age;"  # "id" is the implicit primary key : exists by default in Django model attributes
                "address;"
                "additional_col1,additional_col2"  # Specific columns names to get specific form field
            ),
            buttons="delete_all,delete,reset,clear,insert,duplicate,update,update_all",  # buttons to display at the form's bottom
        )
    ...
    {% endverbatim %}{% endcodelisting %}</code></pre>
    <p>Your view must inheritate from <code>ListingView</code> or <code>ListingViewMixin</code> :</p>
    <pre><code class="language-python">{% codelisting %}{% verbatim %}class MyView(ListingView):
    template_name = "my_template.html"
    listing_class = MyListing
    listing_data = MyModel
{% endverbatim %}{% endcodelisting %}</code></pre>
    <p>In your view template, you need this kind of code to have the filter fom, the listing and the attached form on the same page :</p>
    <pre><code class="language-python">{% codelisting %}{% verbatim %}
...
{% load django_listing %}
...
{% block body %}
    ...
    {% render_listing listing as listing_frame %}  {# listing must be rendered before filters form #}
    {% render_filters_form listing as filter_frame %}

    <div class="row justify-content-center">
        <div class="col col-lg-auto">
            {{ filter_frame }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ listing_frame }}
        </div>
    </div>

    {% render_attached_form listing %}
{% endblock %}
    {% endverbatim %}{% endcodelisting %}</code></pre>
    <br><br>
    <h3>Buttons</h3>
    <p>By default, attached form buttons are displayed at the bottom. Many of them are already coded : "delete_all", "delete", "reset", "clear", "insert", "duplicate", "update", "update_all"<br>
        You can choose the buttons to display et their order. You can also define some custom ones.</p>
    <p>To declare buttons, specify buttons action name in a list or a comma separated string.

    <p>Example :</p>
    <pre><code class="language-python">{% codelisting %}{% verbatim %}
        ...
        attached_form = AttachedForm(
            ...
            buttons="reset, insert, update",  # buttons to display at the form's bottom
        )
    ...
    {% endverbatim %}{% endcodelisting %}</code></pre>

    <p>You can also specify an icon, a label and css classes on an existing or a new button.
        In such a case, a button is to be declared into a tuple with the form :<br>
        <code>(&lt;action name&gt;,&lt;button label&gt;,&lt;icon css class&gt;,&lt;button css classes&gt;)</code>.<br>
        For buttons declaration you have then to specify a list of either an pre-defined action name either a tuple like above.
    </p>
    <p>Example :</p>
    <pre><code class="language-python">{% codelisting %}{% verbatim %}
        ...
        attached_form = AttachedForm(
            ...
            buttons=[
                "reset",
                ("insert", "Insert a line", "icon-insert", "blue-color"),
                "update",
                ("custom_action", "Do custom action", "icon-myicon", "other-color"),
            ]
        )
    ...
    {% endverbatim %}{% endcodelisting %}</code></pre>

    <br><br>
    <h3>Permissions</h3>
    <p>Buttons displayed at the bottom requires some permissions to be used. <br>
        Each action has got its own permission. By default, permissions are required.
        As their name are calculated, it would be tedious to declare all of them for all models an attached form will be used.
        There are many solutions :
        <ul>
            <li>
                You can specify the permission name for each action in the listing, thus you can use the same for all attached forms.
                to do so, for pre-defined actions, you can modify these attributes in listing or view :<br>
<pre><code class="language-python">permission_required_for_duplicate = "my_perm_for_duplicate"
permission_required_for_insert = "my_perm_for_insert"
permission_required_for_update = "my_perm_for_update"
permission_required_for_update_all = "my_perm_for_update_all"
permission_required_for_delete = "my_perm_for_delete"
permission_required_for_delete_all = "my_perm_for_delete_all"
permission_required_for_export = "my_perm_for_export"
# For this example, do not forget to declare permissions "my_perm_for_xxx" in a model Meta class

# if you have custom action :
permission_required_for_custom_action = "my_perm_custom_action"
</code></pre>
            </li>
            <li>
                You can let django-listing compute permissions names, it will use this syntax :<br>
                <code>"&lt;app_label&gt;.&lt;permission_action&gt;_&lt;model_name&gt;"</code><br>
                Where <code>permission_action</code> is deduced from action name with this conversion table : <br>
<pre><code class="language-python">PERMISSION_ACTIONS = dict(
    insert="add",
    duplicate="add",
    update="change",
    update_all="change",
    delete_all="delete",
)</code></pre>
                So if you have an aplication <code>myapp</code> with a model <code>MyModel</code>, the permission for the <code>insert</code> button will be:<br>
                <code>myapp.add_mymodel</code><br>
                And, this is wonderful, because Django will have already added this permission while migrating you model <code>MyModel</code>.
            </li>
            <li>
                You can deactivate permission checking for one or more action by using <code>False</code> for its name : <br>
<pre><code class="language-python">permission_required_for_duplicate = False
permission_required_for_insert = False
permission_required_for_update = False
permission_required_for_update_all = False
permission_required_for_delete = False
permission_required_for_delete_all = False
permission_required_for_export = False
permission_required_for_custom_action = False
</code></pre>
            </li>
            <li>
                You can also deactivate all actions permissions checking by using :<br>
                <code>no_permission_required_for_actions = True</code>
            </li>
        </ul>
    <b>Note :</b> The parameters above can be specified in both listing and view.
    </p>
    <h3>Actions processing</h3>
    <p>Actions processing follows this pattern :</p>
    <ul>
        <li>The user press an action button, for example the "Delete All" button that is associated with <code>delete_all</code> action</li>
        <li>The <code>ListingViewMixin</code> receive a POST request where the parameter <code>action_button</code> contains the <code>&lt;action&gt;</code> value.</li>
        <li>The view method <code>manage_listing_attached_form(listing)</code> is executed
        <li>The permissions are checked with the listing method <code>has_permission_for_action(action)</code></li>
        <li>If granted, django-listing searches whether a specific action method is available in view then in listing and use it :<br>
            <b>In view : </b><code>manage_attached_form_&lt;action&gt;_action(listing)</code><br>
            <b>In listing : </b><code>manage_attached_form_&lt;action&gt;_action()</code><br>
            <b>Note :</b> this is not the recommended way to manage actions, as it is difficult to handle.<br>
            <u>If a specific action method is not found</u>, the default behaviour is hereafter :
        </li>
        <li>django-listing will look for a specific action get_form method and use it if present, otherwise use default method for that action.<br>
            <b>In view : </b><code>manage_attached_form_&lt;action&gt;_get_form(listing)</code><br>
            <b>In listing : </b><code>manage_attached_form_&lt;action&gt;_get_form()</code><br><br>
            This method is a good place to modify the form before rendering, for example to deactivate field value presence checking by using <code>force_not_required</code> parameter :
            <pre><code class="language-python">{% codelisting %}def manage_attached_form_delete_all_get_form(self, listing, *args, **kwargs):
    # call the default AttachedForm.get_form() method : it is dynamically created based on specified layout.
    return listing.attached_form.get_form(force_not_required=True){% endcodelisting %}</code></pre>
            You can change standard form error management, here for updating selected rows, it depends on selected rows number :

    <pre><code class="language-python">{% codelisting %}def manage_attached_form_update_get_form(self, listing, *args, **kwargs):
    # Fields are not required only in mass update (more than one row selected)
    form = listing.attached_form.get_form(
        force_not_required=len(listing.get_selected_rows()) > 1
    )
    # trigger default checks
    form.full_clean()
    # add error if no row selected
    if len(listing.get_selected_rows()) == 0:
        form.add_error(None, gettext("Please select at least one item in the listing"))
    return form{% endcodelisting %}</code></pre>
        </li>
        <li>A model object instance is created. If the PK has been transmitted in POST (when row has been selected in the listing), the object is taken from database.<br>
        The model object instance is stored in form instance on attribute <code>instance</code></li>
        <li>The form is cleaned/validated. One can do specific cleaning : django-listing will look for methods below in this order :<br>
            <u>For one form field cleaning :</u><br>
            <b>In view : </b>
            <ul>
                <li>for a specific listing : <code>manage_listing_&lt;listing name&gt;_&lt;form name&gt;_clean_&lt;field name&gt;()</code>, for example : <code>manage_listing_listing_attached_form_clean_age()</code></li>
                <li><code>manage_listing_&lt;form name&gt;_clean_&lt;field name&gt;()</code>, for example : <code>manage_listing_attached_form_clean_age()</code></li>
            </ul>
            <b>In listing : </b><code>&lt;form name&gt;_clean_&lt;field name&gt;()</code>, for example : <code>attached_form_clean_age()</code><br><br>
            <u>For whole form field cleaning :</u><br>
            <b>In view : </b>
            <ul>
                <li>for a specific listing : <code>manage_listing_&lt;listing name&gt;_&lt;form name&gt;_clean()</code>, for example : <code>manage_listing_listing_attached_form_clean()</code></li>
                <li><code>manage_listing_&lt;form name&gt;_clean()</code>, for example : <code>manage_listing_attached_form_clean()</code></li>
            </ul>
            <b>In listing : </b><code>&lt;form name&gt;_clean()</code>, for example : <code>attached_form_clean()</code><br><br>
            <b>Note :</b> Code these methods like if you were in a normal Django form clean method.
            <br><br>
        </li>
        <li>The form values are applied onto the instance.</li>
        <li>django-listing will look for a specific action processing and use it if present, otherwise use default processing.<br>
            <b>In view : </b><code>manage_attached_form_&lt;action&gt;_process(listing, form, instance)</code><br>
            <b>In listing : </b><code>manage_attached_form_&lt;action&gt;_process(form, instance)</code><br><br>
            For processing, you can use <code>listing.records.get_filtered_queryset()</code> to get the queryset of what has be filtered by the user. 
            To get all selected objects primary keys, use <code>listing.get_selected_rows()</code><br><br>
            Here is the default processing for <code>delete_all</code> action (delete all rows filtered by user via filter form) :

            <pre><code class="language-python">{% codelisting %}def manage_attached_form_delete_all_process(self, listing, form, instance, *args, **kwargs):
        listing.records.get_filtered_queryset().delete(){% endcodelisting %}</code></pre>
            Here is the default processing for <code>delete</code> action (delete selected rows):

            <pre><code class="language-python">{% codelisting %}def manage_attached_form_delete_process(self, listing, form, instance, *args, **kwargs):
    selected_rows = listing.get_selected_rows()
    if len(selected_rows) == 1 and instance.pk:
        instance.delete()
    else:
        listing.model.objects.filter(pk__in=selected_rows).delete(){% endcodelisting %}</code></pre>
        Process methods can return a <code>dict</code> that will be returned as JSON to the navigator for displaying both listing and attached form.
        If not returned by the process methods, django-listing will automatically build it with this form:
        <pre><code class="language-python">{% codelisting %}{
    "listing": listing_html,  # the rendered listing as HTML
    "attached_form": form_html,  # the rendered attached form as HTML
    "object_pk": instance.pk,  # the newly created model instance PK if relevant
}{% endcodelisting %}</code></pre>
        </li>
    </ul>
    <br><br>
    <h3>Objects serialization and auto-fill</h3>
    <p>When you select a listing row, with <code>attached_form_autofill = True</code> parameter in listing class definition, the object attributes will
    be fulfilled in the attached form. To do so, objects data are serialized and placed into each row <code>div</code> or <code>tr</code>
    on HTML attribute <code>data-serialized-object</code>. When selecting a listing row,
    the data are unserialized and applied to the attached form : This avoid to make too many requests to the server and improve user experience.
    </p>
    <p>If the form required specific serialization, you can add in your model the method <code>get_serialized_form_data()</code>
    that returns a <code>dict</code> containing the form field names as keys and JSON serialized data as values.
    Data will be put in the form as hidden form field with the specified name.</p>
    <p>If you want to serialize some data whose are not relative to a form field, but useful at client side in javascript,
    you can add in your model the method <code>get_serialized_additional_data()</code> that returns a <code>dict</code> that will
    be accessible with javascript in attribute <code>data</code> of the serialized object in HTML attribute <code>data-serialized-object</code>.
    </p>
    <p>Serialized data can be de-serialized with javascript : <pre><code class="language-javascript">{% codelisting %}// here row is the jquery object corresponding to the tr or div containing serialized data
let serialized_data = row.attr('data-serialized-object');
let serialized_obj = decodeURIComponent(escape(atob(serialized_data)));
let obj = JSON.parse(serialized_obj);{% endcodelisting %}</code></pre>
    </p>
    <p>After auto-fill, django-listing will trigger the event djlst_form_filled with the form object as data, you can hangle the event this way :
    <pre><code class="language-javascript">{% codelisting %}$(document).on('djlst_form_filled', function(event, data) {
let form = data.form
let listing_div = $("#" + form.attr("related-listing"));  // get listing div
let selected_rows = listing_div.find(".row-container.selected");  // get selected rows
...
});{% endcodelisting %}</code></pre>
    </p>
    <p>It is possible to deactivate auto-fill on specific field, to do so,
        use parameter <code>form_no_autofill = True</code> on corresponding column definition</p>

{% endblock %}
