{% extends "demo/base.html" %}
{% load django_listing %}
{% load i18n %}

{% block body %}
    <h2><a href="{% url 'ref_guide' %}">Reference guide</a> : Listing</h2>
    <h3>Parameters</h3>
    <table class="ref-guide">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tbody>
            <tr><td>accept_ajax</td><td>Use Ajax to update the listing. This requires to have listing defined at python side and the use of a view inherited from <code>ListingView</code></td><td>False</td></tr>
            <tr><td>action_button_cancel_label</td><td>Label for cancel button displayed when listing in editing mode</td><td>"Cancel"</td></tr>
            <tr><td>action_button_edit_label</td><td>Label for edit button displayed when listing in editing mode</td><td>"Edit"</td></tr>
            <tr><td>action_button_update_label</td><td>Label for update button displayed when listing in editing mode</td><td>"Update"</td></tr>
            <tr><td>action_button_upload_label</td><td>Label for upload button displayed when listing in editing mode</td><td>"Upload"</td></tr>
            <tr><td>action_footer_template_name</td><td>Template to use to display action buttons below the listing</td><td>"django_listing/&lt;THEME&gt;/action_footer.html"</td></tr>
            <tr><td>action_header_template_name</td><td>Template to use to display action buttons above the listing</td><td>"django_listing/&lt;THEME&gt;/action_header.html"</td></tr>
            <tr><td>ajax_part</td><td>Limit ajax refresh to a part of the listing. Not implemented yet</td><td>"all"</td></tr>
            <tr><td>ajax_request</td><td><b>Read-only value :</b> tells whether a listing is being rendered through an ajax request</td><td>False</td></tr>
            <tr><td>allow_empty_first_page</td><td>Tells the paginator to generate a page even if there no object to display</td><td>True</td></tr>
            <tr><td>anchor_hash</td><td>An html anchor is set on the listing so it can be reached through a simple hashtag link</td><td>None</td></tr>
            <tr><td>attached_form</td><td>Could be : <ul>
                <li><code>AttachedForm</code> object instance</li>
                <li>A string representing a custom form to import and instanciate with POST and FILES request data, ex : <code>"myapp.forms.MyForm"</code></li>
            </ul></td><td>None</td></tr>
            <tr><td>attached_form_autofill</td><td>Fill the attached form when selecting a line</td><td>False</td></tr>
            <tr><td>attached_form_base_class</td><td>Base class to use when dynamically creating the attached form</td><td>ListingBaseForm</td></tr>
            <tr><td>attached_form_css_id</td><td>HTML/CSS <code>id</code> atttribute to set on attached form</td><td>None</td></tr>
            <tr><td>attrs</td><td>Html attributes to set on the main listing div</td><td>{"class": "table table-hover table-bordered table-striped table-sm"}</td></tr>
            <tr><td>columns_headers</td><td>A list of strings corresponding to columns title. One can also specify only one coma separated string instead of a list</td><td>None</td></tr>
            <tr><td>confirm_msg_for_delete</td><td>Message to display to confirm selected lines deletion in attached form</td><td>"Do you really want to DELETE {nb_items} item(s) ?"</td></tr>
            <tr><td>confirm_msg_for_delete_all</td><td>Message to display to confirm all records deletion in attached form</td><td>"WARNING : Do you really want to DELETE absolutely all {nb_all_items} items ? ..."</td></tr>
            <tr><td>confirm_msg_for_update</td><td>Message to display to confirm selected lines update in attached form</td><td>"Do you really want to UPDATE {nb_items} item(s) ?"</td></tr>
            <tr><td>confirm_msg_for_update_all</td><td>Message to display to confirm all records update in attached form</td><td>"WARNING : Do you really want to UPDATE absolutely all {nb_all_items} items ? ..."</td></tr>
            <tr><td>confirm_msg_nb_items_for_delete</td><td><b>Read-only value :</b> Nb items to delete</td><td></td></tr>
            <tr><td>confirm_msg_nb_items_for_update</td><td><b>Read-only value :</b> Nb items to update</td><td></td></tr>
            <tr><td>current_page</td><td><b>Read-only value :</b> Paginator object for current page</td><td></td></tr>
            <tr><td>data</td><td>Data to use for the listing</td><td>None</td></tr>
            <tr><td>data</td><td>Listing data to use</td><td>None</td></tr>
            <tr><td>datetimepicker_date_format</td><td>When activated, the date format return by datetimepicker widget</td><td>"Y-m-d"</td></tr>
            <tr><td>datetimepicker_datetime_format</td><td>When activated, the datetime format return by datetimepicker widget</td><td>"Y-m-d H:i"</td></tr>
            <tr><td>datetimepicker_time_format</td><td>When activated, the time format return by datetimepicker widget</td><td>"H:i"</td></tr>
            <tr><td>div_template_name</td><td>Template to use when using <code>DivListing</code></td><td>"django_listing/&lt;THEME&gt;/div_row.html"</td></tr>
            <tr><td>edit_on_demand</td><td>Add EDIT action button to activate listing edition mode</td><td>False</td></tr>
            <tr><td>editable</td><td>Set listing as editable (but edition is not activated yet)</td><td>False</td></tr>
            <tr><td>editable_columns</td><td>List of editable columns (listing edition can be partial). This must by set to activate edition. It must be a <code>set</code> or a comma separated string or <code>"all"</code> to activate edition for all columns</td><td>set()</td></tr>
            <tr><td>editing</td><td>Activate edition of all editable columns. It must be a <code>set</code> or a comma separated string or <code>"all"</code></td><td>None</td></tr>
            <tr><td>editing_columns</td><td>Activate edition of all specified editable columns. It must be a <code>set</code> or a comma separated string or <code>"all"</code></td><td>None</td></tr>
            <tr><td>editing_hidden_columns</td><td>In edition mode, put specified columns data into html hidden field so it will be in POST data. It must be a <code>set</code> or a comma separated string or <code>None</code></td><td>None</td></tr>
            <tr><td>editing_row_pk</td><td>Use to restrict edition to a single line. Specify the pk of the object to edit.</td><td>None</td></tr>
            <tr><td>empty_listing_template_name</td><td>Template to use when the listing is empty</td><td>"django_listing/&lt;THEME&gt;/empty_listing.html"</td></tr>
            <tr><td>empty_table_msg</td><td>Message to display when the listing is empty</td><td>"Nothing to display"</td></tr>
            <tr><td>exclude_columns</td><td>List or comma separated string of columns to NOT display. Useful when listing data are model or queryset</td><td>None</td></tr>
            <tr><td>export</td><td>If set, listing will generate an export file with the given format. Value can be : <code>"CSV", "DBF", "HTML", "JSON", "ODS", "TSV", "XLS", "XLSX", "YAML"</code>. The generated file name will be composed with listing name, a timestamping and the relevant extension.</td><td>None</td></tr>
            <tr><td>export_columns</td><td>Force the listing to export the specified columns. Otherwise only displayed columns will be exported.</td><td>None</td></tr>
            <tr><td>exported_columns</td><td><b>Read-only value :</b> Column objects to be exported</td><td>None</td></tr>
            <tr><td>filters</td><td>List of filters that has to be defined in custom listing class definition if filtering is wanted</td><td>None</td></tr>
            <tr><td>footer_snippet</td><td>Put here the javascript code you want to be added after the listing.</td><td>None</td></tr>
            <tr><td>footer_template_name</td><td>Path to a template to use to fill the <code>tfoot</code> section of the listing</td><td>None</td></tr>
            <tr><td>force_order_by</td><td>To force specific ordering even if user select another one, specify a list of columns to order by. For example <code>["last_name", "first_name"]</code> will force ordering by last_name then by first_name</td><td>None</td></tr>
            <tr><td>form_model_fields</td><td><b>Read-only value :</b> List of model attributes name to used in a model</td><td>None</td></tr>
            <tr><td>form_serialize_cols</td><td><b>Read-only value : </b>Computed columns to serialize for attached forms</td><td>None</td></tr>
            <tr><td>form_serialize_cols_func</td><td>Optional function to build data dict from model objects and columns objects. Mainly used in attached forms</td><td>None</td></tr>
            <tr><td>gb_annotate_cols</td><td><b>Read-only value : </b> Group-By computed cols annotation dict</td><td>None</td></tr>
            <tr><td>gb_cols</td><td>Columns name to group by. If present, django-listing will build a specific listings by replacing all columns by those specified in this paramter + add selected annotations (Min, max, avg, sum ....)</td><td>None</td></tr>
            <tr><td>gb_template_name</td><td>Template use to build Group By menu</td><td>"django_listing/&lt;THEME&gt;/group_by.html"</td></tr>
            <tr><td>global_context</td><td>Additional information to put in templates context</td><td>{}</td></tr>
            <tr><td>has_footer</td><td>Display the <code>tfoot</code> section of the listing</td><td>False</td></tr>
            <tr><td>has_footer_action_buttons</td><td>Display action buttons below the listing</td><td>True</td></tr>
            <tr><td>has_group_by</td><td>Activate group_by menu. This require the listing to have a toolbar with a <code>GroupByToolbarItem</code></td><td>False</td></tr>
            <tr><td>has_header</td><td>Display listing's<code>theader</code> section. That is colmuns titles</td><td>True</td></tr>
            <tr><td>has_paginator</td><td>Display listing pagination</td><td>True</td></tr>
            <tr><td>has_toolbar</td><td>Read-only value : </b> Display listing toolbar</td><td>False</td></tr>
            <tr><td>id</td><td>A string that uniquely identify a listing. By default, it is based on listing class name followed by a suffix which is a number that is automatically incremented for each listing.</td><td>None</td></tr>
            <tr><td>link_object_columns</td><td>Automatically add links on cells for the specified columns that leads to the row <code>object.get_abosulte_url()</code>. Can be a list or comma separated string.</td><td>None</td></tr>
            <tr><td>listing_template_name</td><td>Main template path that is used to render the listing</td><td>"django_listing/&lt;THEME&gt;/listing.html"</td></tr>
            <tr><td>model</td><td>The model to use to query data. If not present, django-listing will get it from the queryset given as data.</td><td>None</td></tr>
            <tr><td>name</td><td>Name to give to the listing. It is mainly used in messages and for building export file name.</td><td>None</td></tr>
            <tr><td>no_permission_required_for_actions</td><td>If True, deactivate all permissions checking on actions (toolbar export, attached form actions...).</td><td>False</td></tr>
            <tr><td>onready_snippet</td><td>Javascript code to add in the <code>$(document).ready(function () {...});</code> listing section</td><td>None</td></tr>
            <tr><td>orphans</td><td>Paginator parameter : Number of orphans accepted on last page</td><td>0</td></tr>
            <tr><td>page</td><td>Actual page number (starts at 1)</td><td>1</td></tr>
            <tr><td>pagination</td><td>Display pagination bar</td><td>True</td></tr>
            <tr><td>paginator</td><td>Paginator object instanciated from <code>paginator_class</code></td><td>None</td></tr>
            <tr><td>paginator_class</td><td>Class to use for paginator object</td><td>Paginator</td></tr>
            <tr><td>params_keys</td><td>Additionnal parameters that can be used for a specific column</td><td>set()</td></tr>
            <tr><td>per_page</td><td>Nb rows per page a user can select</td><td>LISTING_ROWS_PER_PAGE</td></tr>
            <tr><td>per_page</td><td>Number of rows displayed per page</td><td>20</td></tr>
            <tr><td>per_page_max</td><td>Hard coded max rows per page allowed. It cannot be greater for an end-user</td><td>LISTING_ROWS_PER_PAGE_MAX</td></tr>
            <tr><td>permission_required_for_clear</td><td>For attached form, permission name required to clear the form. If <code>False</code>, no permission is needed.</td><td>False</td></tr>
            <tr><td>permission_required_for_export</td><td>Permission name required to export listing data. If <code>False</code>, no permission is needed.</td><td>False</td></tr>
            <tr><td>permission_required_for_reset</td><td>For attached form, permission name required to reset the form. If <code>False</code>, no permission is needed.</td><td>False</td></tr>
            <tr><td>primary_key</td><td>Model primary key name</td><td>"id"</td></tr>
            <tr><td>processed_flash</td><td>For attached form, make updated/created line flash</td><td>True</td></tr>
            <tr><td>processed_pks</td><td><b>Read-only value :</b> For attached form, contains updated/created objects PKs</td><td>None</td></tr>
            <tr><td>record_label</td><td>Label used in messages for "record"</td><td>None</td></tr>
            <tr><td>record_label_plural</td><td>Label used in messages for "records"</td><td>None</td></tr>
            <tr><td>records_class</td><td>Record manager class to use</td><td>RecordManager</td></tr>
            <tr><td>request_media_for</td><td>Ask django-listing to add JS/CSS for a feature. Could be a list or a come separated string. Values can be one or more of these : <code>"datetimepicker" "dropzone" "dual_listbox" "autocomplete"</code></td><td>None</td></tr>
            <tr><td>row_attrs</td><td>HTML attributes to add on each listing row. See HTMLAttributes documentation.</td><td>{}</td></tr>
            <tr><td>row_form_base_class</td><td>The base class to use to build attached form and form used when listing is in edit mode</td><td>ListingBaseForm</td></tr>
            <tr><td>row_form_errors</td><td><b>Read-only value :</b> form validation errors</td><td>None</td></tr>
            <tr><td>save_to_database</td><td>For listing in edit mode : save modified objects in database</td><td>False</td></tr>
            <tr><td>select_columns</td><td>List or comma separated string of columns to display. Useful when listing data are model or queryset</td><td>None</td></tr>
            <tr><td>selectable</td><td>Tells django-listing that the listing rows are selectable</td><td>False</td></tr>
            <tr><td>selected_columns</td><td><b>Read-only value :</b> Computed columns objects that has to be displayed. Takes in account <code>select_columns</code> and exclude_columns</td><td>None</td></tr>
            <tr><td>selected_hidden_columns</td><td><b>Read-only value :</b> Computed columns objects that will have values put into html input hidden fields</td><td>None</td></tr>
            <tr><td>selecting</td><td>Activate selection (need <code>selectable</code> to be true)</td><td>None</td></tr>
            <tr><td>selection_initial</td><td>List of objects PK to pre-select</td><td>None</td></tr>
            <tr><td>selection_key</td><td>Use this model atttribute to get selection value</td><td>"id"</td></tr>
            <tr><td>selection_menu_id</td><td>HTML/CSS <code>id</code> for selection menu</td><td>None</td></tr>
            <tr><td>selection_mode</td><td>How selection box is displayed : could be <code>"default", "overlay" or "hover"</code></td><td>"default"</td></tr>
            <tr><td>selection_multiple</td><td>If set multiple rows selection can be done</td><td>False</td></tr>
            <tr><td>selection_multiple_ctrl</td><td>Use CTRL key to toggle one row selection keeping others selected</td><td>False</td></tr>
            <tr><td>selection_overlay_template_name</td><td>Template name to use for selection overlay</td><td>"django_listing/&lt;THEME&gt;/selection_overlay.html"</td></tr>
            <tr><td>selection_position</td><td>Where to add selection checkbox column, could be <code>"left", "right" or "hidden"</code></td><td>"hidden"</td></tr>
            <tr><td>small_device_header_style</td><td>Add css styling for column header (title) when displayed on small device (smartphone etc...)</td><td>"font-weight: bold"</td></tr>
            <tr><td>sort</td><td>The column name to sort the listing with. Use the prefix <code>"-"</code> to sort in reverse order.</td><td>None</td></tr>
            <tr><td>sortable</td><td>You can disable sorting by setting <code>False</code></td><td>True</td></tr>
            <tr><td>suffix</td><td>This is the suffix which is added to listing id and each query parameters to avoid clash when more than one listing is present on the screen. django-listing automaticall increment a number for each listing encountered on template rendering.</td><td>None</td></tr>
            <tr><td>toolbar</td><td>Toolbar object. To be defined in custom listing class definition if wanted</td><td>None</td></tr>
            <tr><td>toolbar_placement</td><td>Could be <code>"top", "bottom", "both"</code></td><td>"both"</td></tr>
            <tr><td>unsortable</td><td>Tells django-listing the listing can be left unsorted. When <code>True</code>, this means column sorting has 3 orders : ascending, descending and unsorted. When <code>False</code>, this means sorting has only 2 orders : ascending or descending. Unsorted means : let the database give its own default ordering, usually, by primary key ascending.</td><td>True</td></tr>
            <tr><td>use_datetimepicker</td><td>Use datetimepicker widget. This is useless with modern browser as input field with <code>type="date"</code> can do similar job.</td><td>False</td></tr>
            <tr><td>variation</td><td>The listing variation to display. This is an index for <code>variations</code> list</td><td>None</td></tr>
            <tr><td>variations</td><td>List of custom listing classes that can be used at the same place.</td><td>None</td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Icons and css classes</h3>
    <table class="ref-guide">
        <thead>
            <tr><th>Attribute</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tbody>
            <tr><td>theme_class</td><td></td><td>"theme-&lt;THEME&gt;"</td></tr>
            <tr><td>theme_action_button_cancel_icon</td><td></td><td>""</td></tr>
            <tr><td>theme_action_button_class</td><td></td><td>"btn btn-primary"</td></tr>
            <tr><td>theme_action_button_edit_icon</td><td></td><td>""</td></tr>
            <tr><td>theme_action_button_update_icon</td><td></td><td>""</td></tr>
            <tr><td>theme_action_button_upload_icon</td><td></td><td>""</td></tr>
            <tr><td>theme_button_active_class</td><td></td><td>"active"</td></tr>
            <tr><td>theme_button_class</td><td></td><td>"btn btn-primary"</td></tr>
            <tr><td>theme_button_disabled_class</td><td></td><td>"disabled"</td></tr>
            <tr><td>theme_container_class</td><td></td><td>"django-listing-container"</td></tr>
            <tr><td>theme_div_row_container_class</td><td></td><td>""</td></tr>
            <tr><td>theme_listing_class</td><td></td><td>"django-listing"  # do not modify</td></tr>
            <tr><td>theme_row_class</td><td></td><td>"row-container"</td></tr>
            <tr><td>theme_sort_asc_class</td><td></td><td>"asc"</td></tr>
            <tr><td>theme_sort_asc_icon</td><td></td><td>"listing-icon-angle-up"</td></tr>
            <tr><td>theme_sort_desc_class</td><td></td><td>"desc"</td></tr>
            <tr><td>theme_sort_desc_icon</td><td></td><td>"listing-icon-angle-down"</td></tr>
            <tr><td>theme_sort_none_icon</td><td></td><td>""</td></tr>
            <tr><td>theme_sortable_class</td><td></td><td>"sortable"</td></tr>
            <tr><td>theme_sorted_class</td><td></td><td>"sorted"</td></tr>
            <tr><td>theme_spinner_icon</td><td></td><td>"animate-spin listing-icon-spin2"</td></tr>
            <tr><td>theme_localized_small_device_styles_width</td><td></td><td>"991px"</td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Methods</h3>
    <h4>Calculated methods</h4>
    <table class="ref-guide name-desc">
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr><td>filter_queryset_&lt;filter name&gt;</td><td>Method that will filter the queryset with a word provided by user in the field corresponding to filter <code>&lt;filter name&gt</code>.
                The given parameters are : <code>queryset</code>, <code>word</code></td></tr>
        </tbody>
    </table>
{% endblock %}
