{% extends "demo/base.html" %}
{% load django_listing %}
{% load demo_extras %}
{% load i18n %}

{% block body %}
    <h2><a href="{% url 'ref_guide' %}">Reference guide</a> : Filters &amp; Filter objects</h2>
    <p>When defining a custom listing, you can specify a <code>Filters</code> instance which
    is a list of <code>Filter</code> instances</p>

    <h3>Filters parameters</h3>
    <p>This is mainly parameters to customize filters form and its buttons</p>
    <table class="ref-guide">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tbody>
            <tr><td>form_attrs</td><td>HTML attributes for filter form</td><td>{}</td></tr>
            <tr><td>form_buttons</td><td>Possible values are : reset, submit and advanced. The advanced button toggle the advanced filters fields</td><td>"reset,submit"</td></tr>
            <tr><td>form_layout</td><td></td><td>None</td></tr>
            <tr><td>form_layout_advanced</td><td>same as <code>form_layout</code> except filters are displayed only when pressing the advanced button (see above)</td><td>None</td></tr>
            <tr><td>form_reset_label</td><td></td><td>"Reset"</td></tr>
            <tr><td>form_submit_label</td><td></td><td>"Filter"</td></tr>
            <tr><td>form_template_name</td><td></td><td>"django_listing/&lt;THEME&gt;/filters_form.html"</td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Filters layout and form buttons</h3>
    <p>To declare filters layout, specify filters names for each line you want inside the form.</p>
    <p>You can use list of lists or one string seperated by a <code>,</code> between each form field an by a <code>;</code> for each line.
        The <code>form_layout</code> parameter can be defined in <code>Filters</code> creation parameters or in its instance.</p>
    <p>To declare form buttons, use <code>form_buttons</code> parameters to specify a list or a comma separated string of buttons name.
        Possible values are <code>"submit", "reset"</code></p>
    <p>See 2 examples below :</p>

    <pre><code class="language-python">{% codelisting %}{% verbatim %}
    from django_listing import *
    ...
    class MyListing(Listing):
        ...
        filters = Filters(
            Filter("filter1", parameters....),
            Filter("filter2", parameters....),
            Filter("filter3", parameters....),
            Filter("filter4", parameters....),
            ...
            form_layout="filter1,filter2;filter3,filter4"  # 2 filter form fields per line in the form
            form_buttons="submit,reset",
            ...
        )
        ...
    ...
    {% endverbatim %}{% endcodelisting %}</code></pre>

    or

    <pre><code class="language-python">{% codelisting %}{% verbatim %}
    from django_listing import *
    ...
    class MyListing(Listing):
        ...
        filters = Filters(
            Filter("filter1", parameters....),
            Filter("filter2", parameters....),
            Filter("filter3", parameters....),
            Filter("filter4", parameters....),
            ...
        )
        filters.form_layout=[["filter1","filter2"],["filter3","filter4"]]  # 2 filter form fields per line in form
        filters.form_buttons=["submit","reset"],
        ...
    ...
    {% endverbatim %}{% endcodelisting %}</code></pre>
    <p>In your view template, for <code>ListingVariations</code> listings, <u>it is important</u> to render the listing <u>BEFORE</u> the filter form.
        To do so, render in variables in good order, then display them as you want with these variables.
        You need this kind of code to have the filter form displayed above the listing :</p>
    <pre><code class="language-python">{% codelisting %}{% verbatim %}
...
{% load django_listing %}
...
{% block body %}
    ...
    {% render_listing listing as listing_frame %}  {# listing must be rendered before filters form #}
    {% render_filters_form listing as filter_frame %}

    <div class="row justify-content-center">
        <div class="col col-lg-auto">
            {{ filter_frame }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ listing_frame }}
        </div>
    </div>

    {% render_attached_form listing %}
{% endblock %}
    {% endverbatim %}{% endcodelisting %}</code></pre>
    <br><br>

    <h3>Filter classes</h3>
    <table class="ref-guide name-desc">
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr><td>AutocompleteForeignKeyFilter</td><td></td></tr>
            <tr><td>AutocompleteMultipleForeignKeyFilter</td><td></td></tr>
            <tr><td>BooleanFilter</td><td></td></tr>
            <tr><td>ChoiceFilter</td><td></td></tr>
            <tr><td>DateFilter</td><td></td></tr>
            <tr><td>DateTimeFilter</td><td></td></tr>
            <tr><td>Filter</td><td></td></tr>
            <tr><td>FloatFilter</td><td></td></tr>
            <tr><td>ForeignKeyFilter</td><td></td></tr>
            <tr><td>IntegerFilter</td><td></td></tr>
            <tr><td>MultipleChoiceFilter</td><td></td></tr>
            <tr><td>TimeFilter</td><td></td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Filter parameters</h3>
    <p>There are many ways to specify Filter parameters :</p>
    <p>
    <ul>
        <li>In listing class to configure all Filter objects with the same parameter, syntax is : <code>filters_&lt;parameter&gt; = &lt;value&gt;</code></li>
        <li>In listing class to configure one specific Filter object, syntax is : <code>f_&lt;filter name&gt;__&lt;parameter&gt; = &lt;value&gt;</code></li>
        <li>In Filter object creation, in kwargs : <code>Filter("filter_name", parameter1="value1",...)</code></li>
        <li>In templates with this syntax : {% verbatim %}<code>{% setopt_filter listing "filter_name" parameter1="value1" ... %}</code>{% endverbatim %}</li>
        <li>In templates with this syntax for html attributes : {% verbatim %}<code>{% setopt_filter_html_attr listing "filter_name" "xxx_attrs" "html_attribute" "attribute_value" %}</code>{% endverbatim %}</li>
    </ul>
    </p>
    <table class="ref-guide">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tbody>
            <tr><td>container_attrs</td><td>HTML attributes for the DIV that contains the input widget</td><td>{"class": "form-field"}</td></tr>
            <tr><td>default_value</td><td></td><td>None</td></tr>
            <tr><td>field_name</td><td>Model field name to query</td><td>filter_key without __</td></tr>
            <tr><td>filter_key</td><td>Django syntax for queryset filtering, ex: <code>name__icontains</code></td><td>filter name</td></tr>
            <tr><td>filter_queryset_method</td><td>Listing method name or callable that will filter the queryset.
                The given parameters are : a <code>queryset</code> and a <code>word</code> to use for filtering</td><td>None</td></tr>
            <tr><td>form_field_class</td><td>Form field to use instead of default one</td><td>Depends on <code>Filter</code> class. Usually : forms.CharField</td></tr>
            <tr><td>form_field_keys</td><td><b>Internal use :</b> specify specific parameters names available for a specific <code>Filter</code> form field class</td><td>None</td></tr>
            <tr><td>format_label</td><td>Used in choices/select to customize labels. If a string is specified, this will correspond to the field to display as a label.
                If it is a callable, it will receive the model object and need to return the label string to display</td><td>lambda obj: str(obj)</td></tr>
            <tr><td>from_model_field_classes</td><td>Helps django-listing to choose the right <code>Filter</code> class when a model attribute name is given instead of a <code>Filter</code> object</td><td>depends on <code>Filter</code> class</td></tr>
            <tr><td>from_model_field_name</td><td></td><td>None  # used by GroupBy<code>Filter</code>Column indirectly</td></tr>
            <tr><td>from_model_field_order</td><td>Helps django-listing to choose the right <code>Filter</code> class when a model attribute name is given instead of a <code>Filter</code> object</td><td>100</td></tr>
            <tr><td>help_text</td><td></td><td>None</td></tr>
            <tr><td>input_name</td><td></td><td>None</td></tr>
            <tr><td>input_type</td><td></td><td>None</td></tr>
            <tr><td>key_type</td><td></td><td>None</td></tr>
            <tr><td>label</td><td></td><td>None</td></tr>
            <tr><td>listing</td><td><b>Read-only value :</b> The listing instance the filter is bound with</td><td>None</td></tr>
            <tr><td>name</td><td></td><td>None</td></tr>
            <tr><td>no_choice_msg</td><td>Select widget no choice message</td><td>"- No filtering -"</td></tr>
            <tr><td>order_by</td><td>Customize ModelChoiceField choices order</td><td>None</td></tr>
            <tr><td>params_keys</td><td><b>Internal use :</b> specify specific parameters names available for a specific <code>Filter</code> class</td><td>None</td></tr>
            <tr><td>required</td><td></td><td>False</td></tr>
            <tr><td>shrink_width</td><td>This customizes CSS flex-shrink value. You may have to specify this parameter on all Filter objects on the same line.
                the smaller the value is, the larger the field is on the same line.
            </td><td>None</td></tr>
            <tr><td>url</td><td></td><td>None</td></tr>
            <tr><td>value</td><td></td><td>None</td></tr>
            <tr><td>widget_attrs</td><td>HTML attributes for the widget itself</td><td>{}</td></tr>
            <tr><td>widget_class</td><td>You can override default widget class here</td><td>The widget class defined in <code>Filter</code> Class</td></tr>
            <tr><td>widget_params</td><td>Parameters to use to intanciate the widget</td><td>{}</td></tr>
            <tr><td>word_search</td><td>If True, each word in the phrase will be use</td><td>False</td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Icons and css classes</h3>
    <table class="ref-guide">
        <thead>
            <tr><th>Attribute</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tbody>
            <tr><td>theme_form_checkbox_widget_class</td><td></td><td>"form-control form-control-sm"</td></tr>
            <tr><td>theme_form_radio_widget_class</td><td></td><td>"form-control form-control-sm"</td></tr>
            <tr><td>theme_form_select_widget_class</td><td></td><td>"form-control form-control-sm"</td></tr>
            <tr><td>theme_form_widget_class</td><td></td><td>"form-control form-control-sm"</td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Filter examples</h3>
    <pre><code class="language-python">{% codelisting %}{% verbatim %}from django_listing import *
...
class MyListing(Listing):
    ...
    filters = Filters(
        # Standard filter model : text field.
        Filter(
            "first_name",
            filter_key="first_name__icontains", # Use Django .filter() notation
            help_text="Case insensitive",  # Add an help_text on the field
        ),

        # Filter age between 2 intergers
        IntegerFilter("age1", filter_key="age__gte", label="Age from"),
        IntegerFilter("age2", filter_key="age__lte", label="to"),

        # Filter between 2 date ("joined" field MUST be a DateField, NOT a DateTimeField, otherwise it's impossible to filter one specific day)
        DateFilter("joined1", filter_key="joined__gte", label="Joined between"),
        DateFilter("joined2", filter_key="joined__lte", label="and"),

        # Filter between 2 date if "joined" field is a DateTimeField, use "add_one_day" parameter on 2nd filter field :
        DateFilter("joined1", filter_key="joined__gte", label="Joined between"),
        DateFilter("joined2",
            filter_key="joined__lte",
            label="and",
            add_one_day=True,  # needed for date filtering on datetime model field
        ),

        # Filter between 2 datetime
        DatetimeFilter("joined1", filter_key="joined__gte", label="Joined between"),
        DatetimeFilter("joined2", filter_key="joined__lte", label="and"),

        # Filter a foreignkey model field with a select
        ForeignKeyFilter("company", label="Company"),

        # Filter a foreignkey model field with an autocomplete widget
        AutocompleteForeignKeyFilter(
            "company",
            # No need to specify a filter_key here as django-listing uses filter's name by default (here filter_key="company")
            label="Company",
            url="company-autocomplete",  # you must define a view with the name "company-autocomplete" that returns matched items

            # Optionally you can customize the widget :
            widget_class=ModelSelect2Fixed,  # custom widget class that accepts "shortcodes_help" parameter
            widget_params={"shortcodes_help": True},  # do not specify "attrs" key here, see next line
            widget_attrs={"data-some-info": "my informations"},  # use "widget_attrs" to specify widget HTML attributes

            # Note : for widget_attrs, "data-html" is set to True by default for AutocompleteForeignKeyFilter. Use False to remove the attribute
        ),

        # Filter with a multi-choices autocomplete widget
        AutocompleteMultipleForeignKeyFilter(
            "interests",
            filter_key="interests__in",
            help_text="You may specify many interests",
            label="Interests",
            url="interest-autocomplete",  # you must define a view with the name "interest-autocomplete" that returns matched items
        ),

        # Use a select widget on a model field with "choices" defined
        ChoiceFilter("marital_status", no_choice_msg="Indifferent"),

        # Use vertical radios instead of a select widget
        ChoiceFilter("marital_status", input_type="radio", no_choice_msg="Indifferent"),

        # Use horizontal radios instead of a select widget
        ChoiceFilter("marital_status", input_type="radioinline", no_choice_msg="Indifferent"),

        # Boolean filter using radio inputs
        BooleanFilter("have_car", input_type="radio", no_choice_msg="Indifferent"),

        # Have a filter form field shorter than other on same line : use "shrink=" on all Filters on the same line:
        Filter("line1_field1", shrink=10,...)
        Filter("line1_field2", shrink=10,...)
        Filter("line1_field3", shrink=20,...)  # this form field will be 2 times more narrow than others
        Filter("line1_field4", shrink=10,...)
        ...
    )
    ...
    {% endverbatim %}{% endcodelisting %}</code></pre>
{% endblock %}
