{% extends "demo/base.html" %}
{% load django_listing %}
{% load static %}

{% block body %}
    <h2>Reference guide</h2>
    <div class="list-group col-md-6 offset-md-3 django-listing-menu">
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide2" %}">
            <b>HTMLAttribute</b> (xxx_attrs)</a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide6" %}">
            <b>RecordManager &amp; Record</b></a>
        <a class="list-group-item list-group-item-action"
           href="{% url "many_ways" %}"><b>There are many ways...</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide1" %}">
            <b>Listing &amp; DivListing</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide3" %}">
            <b>Cells</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide4" %}">
            <b>Columns</b> (group of columns guide)</a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide5" %}">
            <b>Column</b> (single column guide)</a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide7" %}">
            <b>Paginator</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide8" %}">
            <b>Toolbar &amp; ToolbarItem</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide9" %}">
            <b>Filters &amp; Filter objects</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide15" %}">
            <b>Variations</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide10" %}">
            <b>Attached form</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide11" %}">
            <b>ListingView &amp; ListingViewMixin</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide16" %}">
            <b>Special methods</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide12" %}">
            <b>Template tags</b></a>
        <a class="list-group-item list-group-item-action"
           href="{% url "fonticons" %}"><b>Built-in font icons</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide13" %}">
            <b>Theming</b></a>
        <a class="list-group-item list-group-item-action" href="{% url "ref_guide14" %}">
            <b>App config</b></a>
    </div>
{% endblock %}
