{% extends "demo/base.html" %}
{% load django_listing %}
{% load i18n %}

{% block body %}
    <h2><a href="{% url 'ref_guide' %}">Reference guide</a> : Paginator</h2>
    <p>Django-listing propose a customized version of Django paginator.</p>
    <h3>Parameters</h3>
    <table class="ref-guide">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tbody>
            <tr><td>template_name</td><td></td><td>"django_listing/&lt;THEME&gt;/paginator.html"</td></tr>
            <tr><td>has_page_info</td><td></td><td>True</td></tr>
            <tr><td>has_editable_page_info</td><td></td><td>False</td></tr>
            <tr><td>page_info_tpl</td><td></td><td>"Page {page_number} of {nb_pages}"</td></tr>
            <tr><td>has_row_info</td><td></td><td>False</td></tr>
            <tr><td>row_info_tpl</td><td></td><td>"{row_first}-{row_last} of {nb_rows}"</td></tr>
            <tr><td>has_prev_next</td><td></td><td>True</td></tr>
            <tr><td>prev_text</td><td></td><td>"Previous"</td></tr>
            <tr><td>next_text</td><td></td><td>"Next"</td></tr>
            <tr><td>has_first_last</td><td></td><td>False</td></tr>
            <tr><td>first_text</td><td></td><td>"First"</td></tr>
            <tr><td>last_text</td><td></td><td>"Last"</td></tr>
            <tr><td>fast_page_step</td><td></td><td>0</td></tr>
            <tr><td>fast_page_prev_tpl</td><td></td><td>"-{step}"</td></tr>
            <tr><td>fast_page_next_tpl</td><td></td><td>"+{step}"</td></tr>
            <tr><td>page_scale_size</td><td></td><td>0</td></tr>
            <tr><td>page_scale_ellipsis</td><td></td><td>0</td></tr>
            <tr><td>hide_disabled_buttons</td><td></td><td>False</td></tr>
            <tr><td>hide_single_page</td><td></td><td>False</td></tr>
            <tr><td>parts_order</td><td></td><td>"first,fastprev,prev,pageinfo,rowinfo,scale," "next,fastnext,last"</td></tr>
            <tr><td>has_goto_page</td><td></td><td>False</td></tr>
            <tr><td>goto_page_tpl</td><td></td><td>"Go to page {goto_form}"</td></tr>
            <tr><td>in_footer</td><td></td><td>False</td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Icons and css classes</h3>
    <table class="ref-guide">
        <thead>
            <tr><th>Attribute</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tbody>
        <tr><td>theme_button_a_class</td><td></td><td>"page-link"</td></tr>
        <tr><td>theme_button_li_class</td><td></td><td>"page-item"</td></tr>
        <tr><td>theme_button_text_class</td><td></td><td>"button-text"</td></tr>
        <tr><td>theme_fast_next_icon</td><td></td><td>"listing-icon-fast-forward"</td></tr>
        <tr><td>theme_fast_page_has_icon</td><td></td><td>True</td></tr>
        <tr><td>theme_fast_page_has_text</td><td></td><td>True</td></tr>
        <tr><td>theme_fast_prev_icon</td><td></td><td>"listing-icon-fast-backward"</td></tr>
        <tr><td>theme_first_icon</td><td></td><td>"listing-icon-to-start-1"</td></tr>
        <tr><td>theme_first_last_has_icon</td><td></td><td>True</td></tr>
        <tr><td>theme_first_last_has_text</td><td></td><td>True</td></tr>
        <tr><td>theme_last_icon</td><td></td><td>"listing-icon-to-end-1"</td></tr>
        <tr><td>theme_next_icon</td><td></td><td>"listing-icon-right-dir"</td></tr>
        <tr><td>theme_prev_icon</td><td></td><td>"listing-icon-left-dir"</td></tr>
        <tr><td>theme_prev_next_has_icon</td><td></td><td>True</td></tr>
        <tr><td>theme_prev_next_has_text</td><td></td><td>True</td></tr>
        </tbody>
    </table>
{% endblock %}
