{% extends "demo/base.html" %}
{% load django_listing %}
{% load demo_extras %}
{% load i18n %}

{% block body %}
    <h2><a href="{% url 'ref_guide' %}">Reference guide</a> : Template tags</h2>
    <h3>Introduction</h3>
    <p>When writing your template, be aware you have to load django listing template tags library : <p>
    <pre><code class="language-django">{% codelisting %}{% verbatim %}{% load django_listing %}{% endverbatim %}{% endcodelisting %}</code></pre>
    </p>
    <br>
    <h3>Declaration order</h3>
    <p>You <b>MUST</b> declare or render a listing before rendering other features.
        This is particularly the case when you use django-listing filter form.
    <h4>Not correct :</h4>
    <pre><code class="language-django">{% codelisting %}{% verbatim %}{% render_filters_form listing %}  {# Developer wants filter form above #}
{% render_listing listing %}  {# Developer wants listing below #}{% endverbatim %}{% endcodelisting %}</code></pre>
    <p>This does not work because listing has not been fully initialized yet.
        This can be done by rendering listing and filter form into variables and then arrange them the way you want.</p>
    <h4>Correct :</h4>
    <pre><code class="language-django">{% codelisting %}{% verbatim %}{% render_listing listing as listing_frame %}  {# render listing in a variable first #}
{% render_filters_form listing as filter_frame %}  {# render other features in a variable after #}

<div class="row justify-content-center">
    <div class="col col-lg-auto">
        {{ filter_frame }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ listing_frame }}
    </div>
</div>{% endverbatim %}{% endcodelisting %}</code></pre>

    </p>
    <br>
    <h3>Template tags</h3>
    {% verbatim %}
    <table class="ref-guide name-desc">
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr><td>{% create_listing listing data **kwargs %}</td><td></td></tr>
            <tr><td>{% create_listing_begin listing **kwargs %}</td><td></td></tr>
            <tr><td>{% create_listing_end listing data **kwargs %}</td><td></td></tr>
            <tr><td>{% do_listing_header token %}</td><td></td></tr>
            <tr><td>{% filters_add_row row %}</td><td></td></tr>
            <tr><td>{% filters_form_field name %}</td><td></td></tr>
            <tr><td>{% filters_form_field_container_attrs name %}</td><td></td></tr>
            <tr><td>{% footer_snippets %}</td><td></td></tr>
            <tr><td>{% get_dict_list key %}</td><td></td></tr>
            <tr><td>{% get_form_field name %}</td><td></td></tr>
            <tr><td>{% get_uniq_id %}</td><td></td></tr>
            <tr><td>{% gethiddens_filters_form %}</td><td></td></tr>
            <tr><td>{% gethiddens_listing without %}</td><td></td></tr>
            <tr><td>{% geturl_listing listing **kwargs %}</td><td></td></tr>
            <tr><td>{% geturl_listing_key listing key value **kwargs %}</td><td></td></tr>
            <tr><td>{% header_snippets %}</td><td></td></tr>
            <tr><td>{% initialize_listing listing data **kwargs %}</td><td></td></tr>
            <tr><td>{% listing_confirm_msg_for_action action %}</td><td></td></tr>
            <tr><td>{% listing_confirm_msg_nb_items_for_action action %}</td><td></td></tr>
            <tr><td>{% listing_has_permission_for_action action %}</td><td></td></tr>
            <tr><td>{% listing_responsive_columns_css format_str %}</td><td></td></tr>
            <tr><td>{% onready_snippets %}</td><td></td></tr>
            <tr><td>{% render_attached_form listing **name **layout **kwargs %}</td><td></td></tr>
            <tr><td>{% render_filters_form listing %}</td><td></td></tr>
            <tr><td>{% render_listing listing data **kwargs %}</td><td></td></tr>
            <tr><td>{% render_listing_footer  %}</td><td></td></tr>
            <tr><td>{% setopt_column name **kwargs %}</td><td></td></tr>
            <tr><td>{% setopt_column_html_attr name col_attr html_attr value %}</td><td></td></tr>
            <tr><td>{% setopt_filter name **kwargs %}</td><td></td></tr>
            <tr><td>{% setopt_filter_html_attr name col_attr html_attr value %}</td><td></td></tr>
            <tr><td>{% setopt_listing **kwargs %}</td><td></td></tr>
            <tr><td>{% setopt_listing_html_attr listing_attr html_attr value %}</td><td></td></tr>
            <tr><td>{% setopt_toolbar_item name **kwargs %}</td><td></td></tr>
            <tr><td>{% setopt_toolbar_item_html_attr name col_attr html_attr value %}</td><td></td></tr>
        </tbody>
        {% endverbatim %}</table>
    <br><br>
{% endblock %}
