{% extends "demo/base.html" %}
{% load django_listing %}
{% load demo_extras %}
{% load i18n %}

{% block body %}
    <h2><a href="{% url 'ref_guide' %}">Reference guide</a> : Colomn (single column)</h2>

    <h3>Introduction</h3>
    <p>This page is about <code>Column</code> objects</p>
    <p>The django-listing column is responsible for displaying all data inside this column as well as its header (column title with sorting icons) and its footer (aggregation value if activated)</p>
    <p>There are many pre-defined column classes : If relevant, django-listing automatically choose the right classes based on model attributes.
        You can create custom column class and tell django-listing to use them by many ways.</p>
    <p><code>Column</code> objects are used in "filter form" and "attached form" as they contain form fields informations.</p>
    <br>
    <h3>Classes</h3>
    <table class="ref-guide name-desc">
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr><td>AutoCompleteColumn(ForeignKeyColumn)</td><td>Same as <code>ForeignKeyColumn</code> except it has autocomplete widget when used in forms</td></tr>
            <tr><td>AvgColumn(ComputedColumnMixin, Column)</td><td>Compute average of all numbers on the same line</td></tr>
            <tr><td>BooleanColumn(Column)</td><td>Display boolean value. <code>True</code> and <code>False</code> representation can be customized</td></tr>
            <tr><td>ButtonColumn(Column)</td><td>Add a button in each cell in the column</td></tr>
            <tr><td>ButtonLinkColumn(LinkColumn)</td><td>Build a button to got to another page</td></tr>
            <tr><td>CheckboxColumn(Column)</td><td>Add a checkbox in each cell in the column</td></tr>
            <tr><td>ChoiceColumn(Column)</td><td>In forms, display a select box</td></tr>
            <tr><td>Column(metaclass=ColumnMeta)</td><td>Base Column class. It can be used directly.</td></tr>
            <tr><td>ComputedColumnMixin</td><td>Mixin that gathers all numbers on the same line for aggregation purposes</td></tr>
            <tr><td>DateColumn(Column)</td><td>Display date value. Output format can be customized.</td></tr>
            <tr><td>DateTimeColumn(Column)</td><td>Display datetime value. Output format can be customized.</td></tr>
            <tr><td>DecimalColumn(FloatColumn)</td><td>Display decimal value. Output format can be customized.</td></tr>
            <tr><td>EmailColumn(LinkColumn)</td><td>Create <code>mailto:</code> links</td></tr>
            <tr><td>FileColumn(LinkColumn)</td><td>Create a link to down the file</td></tr>
            <tr><td>FileSizeColumn(Column)</td><td>Display human-readable file size</td></tr>
            <tr><td>FloatColumn(Column)</td><td>Display float value. Output format can be customized.</td></tr>
            <tr><td>ForeignKeyColumn(LinkColumn)</td><td>Create a link to <code>object.get_absolute_url()</code>. In forms, a select menu is displayed.</td></tr>
            <tr><td>GroupByFilterColumn(Column)</td><td>Create a button to open a new tab and display the same listing but with relevant filtering</td></tr>
            <tr><td>InputColumn(Column)</td><td>Display an input text field in each cell in the column</td></tr>
            <tr><td>IntegerColumn(Column)</td><td>Used for integer values</td></tr>
            <tr><td>JsonDateTimeColumn(Column)</td><td>Transform JSON datetime string into Python datetime object then display it. Output format can be customized.</td></tr>
            <tr><td>LineNumberColumn(Column)</td><td>Display line number. Takes in account the current page number.</td></tr>
            <tr><td>LinkColumn(Column)</td><td>Display a custom link based on current record</td></tr>
            <tr><td>LinkObjectColumn(LinkColumn)</td><td>Create a link to <code>object.get_absolute_url()</td></tr>
            <tr><td>ManyColumn(Column)</td><td>Display a many-to-many object attribute</td></tr>
            <tr><td>MaxColumn(ComputedColumnMixin, Column)</td><td>Compute maximum of all numbers on the same line</td></tr>
            <tr><td>MinColumn(ComputedColumnMixin, Column)</td><td>Compute minimum of all numbers on the same line</td></tr>
            <tr><td>MultipleChoiceColumn(Column)</td><td>In forms, display a select box where multiple choices are possible</td></tr>
            <tr><td>SelectColumn(Column)</td><td>Add a select menu in each cell in the column</td></tr>
            <tr><td>SelectionColumn(Column)</td><td>Add a checkbox for line selection in each cell in the column</td></tr>
            <tr><td>TextColumn(Column)</td><td>In forms, display a textarea widget.</td></tr>
            <tr><td>TimeColumn(Column)</td><td>Display time. Output format can be customized.</td></tr>
            <tr><td>TotalColumn(ComputedColumnMixin, Column)</td><td>Compute sum of all numbers on the same line</td></tr>
            <tr><td>URLColumn(LinkColumn)</td><td>Display URLs</td></tr>
        </tbody>
    </table>
    <br><br>

    <h3>Parameters</h3>
    <table class="ref-guide">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tr><td>aggregation</td><td>Aggregate all values on the page or on whole queryset then display result in listing footer (activate footer with listing parameter <code>has_footer = True</code>).<br>Possible values are : <code>sum, avg, min, max</code> for page aggregation and <code>global_sum, global_avg, global_min, global_max</code> for whole data</td><td>None</td></tr>
        <tr><td>ascending_by_default</td><td></td><td>True</td></tr>
        <tr><td>can_edit</td><td></td><td>False</td></tr>
        <tr><td>cell_attrs</td><td>HTML attributes to use in cell <code>td</code> tag</td><td>{}</td></tr>
        <tr><td>cell_tpl</td><td></td><td>&quot;&lt;td{attrs}&gt;%s&lt;/td&gt;&quot;</td></tr>
        <tr><td>cell_edit_tpl</td><td>Template to use when in listing in edit mode</td><td>Use cell_tpl</td></tr>
        <tr><td>cell_value</td><td>Can be :<ul>
            <li>a RelatedModelMethodRef object to reference foreign object method</li>
            <li>a ModelMethodRef object to reference object method</li>
            <li>a ListingMethodRef object to reference listing method</li>
            <li>a callable</li>
        </ul>Method and callable will receive as parameter the record to be rendered</td><td>None</td></tr>
        <tr><td>cell_with_filter_link</td><td>Callable to override filter link generation. Will receive <code>rec, ctx, value</code> arguments</td><td>None</td></tr>
        <tr><td>cell_with_filter_name</td><td>Filter name to use to compute filter link</td><td>column name</td></tr>
        <tr><td>cell_with_filter_tpl</td><td></td><td>
{% codelisting %}<td{attrs}><span class="cell-with-filter">
<span class="cell-value">%s</span>
<a href="{filter_link}"
class="cell-filter {col.theme_cell_with_filter_icon}">
</a></span></td>{% endcodelisting %}
        </td></tr>
        <tr><td>data_key</td><td>Specify where to get the value to display.<br>For model/queryset data : The model attribute name<br>For list of dicts : the key</td><td>column name</td></tr>
        <tr><td>default_footer_value</td><td></td><td>""</td></tr>
        <tr><td>default_value</td><td></td><td>"-"</td></tr>
        <tr><td>editable</td><td></td><td>None</td></tr>
        <tr><td>editing</td><td></td><td>False</td></tr>
        <tr><td>exportable</td><td></td><td>True</td></tr>
        <tr><td>exported_header</td><td></td><td>None</td></tr>
        <tr><td>footer</td><td>A callable to render a custom footer for the column. Will receive column and listing objects as argument</td><td>None</td></tr>
        <tr><td>footer_tpl</td><td></td><td>&quot;&lt;td{attrs}&gt;%s&lt;/td&gt;&quot;</td></tr>
        <tr><td>footer_attrs</td><td>HTML attributes to use in cell <code>td</code> tag</td><td>{}</td></tr>
        <tr><td>footer_value_tpl</td><td>To customize value string in footer</td><td>"{value}"</td></tr>
        <tr><td>form_field</td><td>This is used to force the django form field INSTANCE to use in forms. This override default behaviour which to user <code>form_field_class</code> and <code>form_field_params</code> parameters</td><td>None</td></tr>
        <tr><td>form_field_class</td><td>Django form field class to use in forms</td><td>forms.CharField</td></tr>
        <tr><td>form_field_params</td><td>Parameters used to instanciate <code>form_field_class</code></td><td>None</td></tr>
        <tr><td>form_field_widget_class</td><td>Django form field widget class to use in forms</td><td>None</td></tr>
        <tr><td>form_field_widget_params</td><td>Parameters used to instanciate <code>form_field_widget_class</code></td><td>{}</td></tr>
        <tr><td>form_field_serialize</td><td>Tells django-listing to serialize column value and store it in <code>data-serialized-object</code> row HTML attribute. This is required when auto_fill is wanted in attached form and you have added column in <code>ModelColumns</code></td><td>False</td></tr>
        <tr><td>from_model_field_classes</td><td>Used by django-listing to build <code>Columns</code> object to choose the right column class from the model field class</td><td>[]</td></tr>
        <tr><td>from_model_field_order</td><td>Helps django-listing to prioritize the class to choose when many are possible. Lower value has higher priority</td><td>100</td></tr>
        <tr><td>form_no_autofill</td><td>Tells django-listing to not auto-fill the form input corresponding to the column in attached form</td><td>False</td></tr>
        <tr><td>has_cell_filter</td><td>If <code>True</code> add an icon next to cell value to filter data accordingly. Uses <code>cell_with_filter_tpl</code></td><td>False</td></tr>
        <tr><td>header</td><td>Column header/title value. Can be a callable which will receiver the column and listing objects as arguments</td><td>None</td></tr>
        <tr><td>header_attrs</td><td>HTML attributes to use in cell <code>td</code> tag</td><td>{}</td></tr>
        <tr><td>header_sortable_tpl</td><td>Header template to use when the column is sortable</td><td>
{% codelisting %}"<th{attrs}><a class="listing-nav" href="{sort_url}">{value}
<span class="sorting{icon}"></span></a></th>"{% endcodelisting %}
        </td></tr>
        <tr><td>header_tpl</td><td>Header template to use when the column is <u>NOT</u> sortable</td><td>"&lt;th{attrs}&gt;&lt;span class={col.theme_header_icon}&gt;&lt;/span&gt;&lt;/th&gt;"</td></tr>
        <tr><td>help_text</td><td>Help text to display in forms.</td><td>"&nbsp;"  # otherwise formfields may me not aligned vertically. keep align-items: flex-end; on row</td></tr>
        <tr><td>input_type</td><td>Used by <code>ChoiceColumn</code> and <code>MultipleChoiceColumn</code> to select the right widget to use when in edit mode. Possible values are <code>checkboxinline, checkboxinline, other</code></td><td>None</td></tr>
        <tr><td>is_safe_value</td><td></td><td>False  # to avoid XSS attack</td></tr>
        <tr><td>listing</td><td>You can have access to listing instance from the column when fully initialized</td><td></td></tr>
        <tr><td>link_target</td><td>Used by <code>GroupByFilterColumn</code> to specify where to open the new filtered listing.</td><td>"_blank"</td></tr>
        <tr><td>model_field</td><td>model field instance used</td><td>None</td></tr>
        <tr><td>model_form_field</td><td>model form field instance used in forms</td><td>None</td></tr>
        <tr><td>name</td><td>Column name</td><td>None</td></tr>
        <tr><td>no_choice_msg</td><td>Message to display on select widgets when no choice has been done</td><td>"Please choose..."</td></tr>
        <tr><td>true_msg</td><td>Used in <code>BooleanFilter</code></td><td>"Yes"</td></tr>
        <tr><td>false_msg</td><td>Used in <code>BooleanFilter</code></td><td>"No"</td></tr>
        <tr><td>params_keys</td><td>Publish specific column class parameters</td><td>""</td></tr>
        <tr><td>sort_key</td><td>Model attribute name or dict key to use for sorting</td><td>None</td></tr>
        <tr><td>sortable</td><td></td><td>True</td></tr>
        <tr><td>use_raw_value</td><td>If True, choices are not solved</td><td>False</td></tr>
        <tr><td>value_tpl</td><td>Template to use to format a value. This is useful to customize value formatting like adding unit, limiting the number of digits, displaying icons for <code>True/False</code> values etc...</td><td>"{value}"</td></tr>
        <tr><td>widget_attrs</td><td>HTML attributes to use in widget</td><td>{}</td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Icons and css classes</h3>
    <table class="ref-guide">
        <thead>
            <tr><th>Attribute</th><th>Description</th><th>Default value</th></tr>
        </thead>
        <tbody>
            <tr><td>theme_button_class</td><td></td><td>"btn btn-primary btn-sm"</td></tr>
            <tr><td>theme_button_link_class</td><td></td><td>"btn btn-primary btn-sm"</td></tr>
            <tr><td>theme_link_class</td><td></td><td>""</td></tr>
            <tr><td>theme_cell_class</td><td></td><td>""</td></tr>
            <tr><td>theme_cell_with_filter_icon</td><td></td><td>"listing-icon-filter"</td></tr>
            <tr><td>theme_footer_class</td><td></td><td>""</td></tr>
            <tr><td>theme_form_checkbox_widget_class</td><td></td><td>"form-control form-control-sm"</td></tr>
            <tr><td>theme_form_radio_widget_class</td><td></td><td>"form-control form-control-sm"</td></tr>
            <tr><td>theme_form_select_widget_class</td><td></td><td>"form-control form-control-sm"</td></tr>
            <tr><td>theme_form_widget_class</td><td></td><td>"form-control form-control-sm"</td></tr>
            <tr><td>theme_header_class</td><td></td><td>""</td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Methods</h3>
    <table class="ref-guide name-desc">
        <thead>
            <tr><th>Name</th><th>Description</th></tr>
        </thead>
        <tbody>
            <tr><td>apply_template_kwargs()</td><td></td></tr>
            <tr><td>bind_to_listing(listing)</td><td></td></tr>
            <tr><td>create_form_field(**kwargs)</td><td></td></tr>
            <tr><td>create_hidden_form_field()</td><td></td></tr>
            <tr><td>editing_init()</td><td></td></tr>
            <tr><td>from_model_field(cls, field, **kwargs)</td><td></td></tr>
            <tr><td>get_cell_attrs(rec, ctx, value)</td><td></td></tr>
            <tr><td>get_cell_context(rec, value)</td><td></td></tr>
            <tr><td>get_cell_exported_value(rec, keep_original_type=True)</td><td></td></tr>
            <tr><td>get_cell_filter_link(rec, ctx, value)</td><td></td></tr>
            <tr><td>get_cell_form_value(rec)</td><td></td></tr>
            <tr><td>get_cell_template(rec, ctx, value)</td><td></td></tr>
            <tr><td>get_cell_value(rec)</td><td></td></tr>
            <tr><td>get_default_value(rec)</td><td></td></tr>
            <tr><td>get_edit_value_tpl(rec, ctx, value)</td><td></td></tr>
            <tr><td>get_exported_header_value()</td><td></td></tr>
            <tr><td>get_footer_attrs(ctx, value)</td><td></td></tr>
            <tr><td>get_footer_context(value)</td><td></td></tr>
            <tr><td>get_footer_template(ctx, value)</td><td></td></tr>
            <tr><td>get_footer_value()</td><td></td></tr>
            <tr><td>get_footer_value_tpl(ctx, value)</td><td></td></tr>
            <tr><td>get_form_field_class(force_select=False, **kwargs)</td><td></td></tr>
            <tr><td>get_form_field_params(</td><td></td></tr>
            <tr><td>get_form_field_widget(field_class, **kwargs)</td><td></td></tr>
            <tr><td>get_header_attrs(ctx)</td><td></td></tr>
            <tr><td>get_header_context()</td><td></td></tr>
            <tr><td>get_header_template(ctx)</td><td></td></tr>
            <tr><td>get_header_value()</td><td></td></tr>
            <tr><td>get_hidden_form_field_params()</td><td></td></tr>
            <tr><td>get_value_tpl(rec, ctx, value)</td><td></td></tr>
            <tr><td>init(listing, name=None, **kwargs)</td><td></td></tr>
            <tr><td>render_cell(rec)</td><td></td></tr>
            <tr><td>render_footer()</td><td></td></tr>
            <tr><td>render_form_field(rec)</td><td></td></tr>
            <tr><td>render_header()</td><td></td></tr>
            <tr><td>render_init()</td><td></td></tr>
            <tr><td>render_init_context(context)</td><td></td></tr>
            <tr><td>set_kwargs(**kwargs)</td><td></td></tr>
            <tr><td>set_listing(listing)</td><td></td></tr>
            <tr><td>set_params_choices(params)</td><td></td></tr>
        </tbody>
    </table>
    <br><br>
    <h3>Column examples</h3>
    <pre><code class="language-python">{% codelisting %}{% verbatim %}from django_listing import *
...
class MyListing(Listing):
    ...
    columns = Columns(
        Column("address"),  # will use "address" model field for data and meta data.
        IntegerColumn("age"),  # will use "age" model field. In edit mode, will use input type="number"
        Column("company", data_key="name", header="Company's name"),
        DateColumn("joined_date", data_key="joined", header="Joined (date)"),
        DateTimeColumn(
            "Now", cell_value=lambda col, rec: datetime.now(), header="Now (datetime)"
        ),
        TimeColumn(
            "joined_time",
            cell_value=lambda col, rec: datetime.now(),
            time_format="H:i:s",
            header="Now (time with sec)",
        ),

        # force first_name and last_name column to have a link to view Employee via object.get_absolute_url()
        LinkObjectColumn("first_name"),
        LinkObjectColumn("last_name"),

        # Turn address column into a link to google map.
        # Note the syntax in the href_tpl : {rec[address|urlencode]} means :
        # from rec take address and urlencode the value.
        LinkColumn(
            "address",
            href_tpl=(
                "https://www.google.com/maps/search/"
                "?api=1&query={rec[address|urlencode]}"
            ),
            link_attrs={"target": "_blank"},
        ),

        TotalColumn(),  # sum all numeric values on the same line
        AvgColumn(precision=1),  # average all numeric values on the same line
        MaxColumn(),  # get max value from all numeric values on the same line
        MinColumn(),  # get min value from all numeric values on the same line

        Column("income", aggregation="sum"), # display in listing footer the sum of column's values on current page

        Column("income", aggregation="global_sum"), # display in listing footer the sum on the whole queryset (all pages)

        ButtonColumn(
            "button",
            label="Select",
            header="Click to select",
            widget_attrs={"data-bs-dismiss": "modal"},  # here the button is used to dismiss a listing put in a bootstrap modal
        ),

        ActionsButtonsColumn(
            "actions",
            buttons=(
                # coma separated string of action buttons to display
                "move_up,move_down,view_object,view_object_popup,edit_object,"
                "delete_object"
            ),
            buttons_has_text=False,
            move_up__field="rank",
            move_down__field="rank",
            view_object__title="See details (simple link to object.get_absolute_url())",
            view_object_popup__icon="listing-icon-zoom-in",
            view_object_popup__title="See details (Popup)",
            view_object_popup__layout=(
                "== Main informations ==;"
                "first_name,last_name;"
                "== Other informations ==;"
                "age,have_car;"
                "Rank:rank*2;"
                "company*2"
            ),
        ),

        ManyColumn(
            "employees",
            data_key="employee_set",  # with django, to get the reverse of a foreign key (= one to many), you use the model in lower case + '_set'
            cell_filter=lambda x: x.all()[:10],  # only the 10 first employees (The .all() is a Django syntax to get all items from a queryset)
            cell_map=lambda x: force_str(x).title(),  # item by item : transform in text and put uppercase on first letter
            cell_reduce=lambda x: " and ".join(x) + "...",  # turn the items into a single string by putting ' and ' between items and finally add '...'.
                                                            # x is the list that comes from cell_map processing
        ),
        ...
    )
    ...
    {% endverbatim %}{% endcodelisting %}</code></pre>
{% endblock %}
