{% extends "demo/index.html" %}
{% load django_listing %}

{% block example %}
    <h2><a href="{% url 'columns' %}">Columns</a> : Actions column</h2>
    <p>Have a look at <code>demo/templates/demo/columns5.html</code> and
        <code>ColumnsListingView</code> in
        <code>demo/views.py</code> and listings in <code>demo/listings.py</code>
        to see how examples are coded</p>

    <!-- ------------------------------------------------------------------------------------------------------- -->
    {% render_listing %}

{% endblock %}
