{% extends "demo/index.html" %}
{% load django_listing %}

{% block example %}
    <h2><a href="{% url 'columns' %}">Columns</a> : Input and custom columns</h2>
    <p>Have a look at <code>demo/templates/demo/columns4.html</code> and
        <code>ColumnsListingView</code> in
        <code>demo/views.py</code> and listings in <code>demo/listings.py</code>
        to see how examples are coded</p>

    <!-- ------------------------------------------------------------------------------------------------------- -->
    <h3>Custom Links column</h3>
    {% render_listing LinksListing per_page=5 %}
    <br><br>

    <!-- ------------------------------------------------------------------------------------------------------- -->
    <h3>Checkbox, Choices, button, input and custom columns</h3>
    {% render_listing WidgetsColumnsListing Employee per_page=5%}


{% endblock %}
