{% load i18n %}
{% load django_listing %}
    <div class="div-row">
        <div class="col-md-1">
            <a href="/robohash/{{ rec.first_name|cut:" " }}{{ rec.last_name|cut:" " }}/?width=800&height=800">
                <img style="margin:5px" width="80" height="80"
                     src="/robohash/{{ rec.first_name|cut:" " }}{{ rec.last_name|cut:" " }}/?width=80&height=80">
            </a>
        </div>
        <div class="col-md-4" style="padding-left: 40px">
            <b>{% trans "First name" %} :</b> {{ rec.first_name }}<br>
            <b>{% trans "Last name" %} :</b> {{ rec.last_name }}<br>
            <b>{% trans "Age" %} :</b> {{ rec.age }}<br>
            <b>{% trans "Address" %} :</b> {{ rec.address }}
        </div>
        <div class="col-md-2">
            <b>{% trans "Designation" %} :</b> {{ rec.designation }}<br>
            <b>{% trans "Salary" %} :</b> {{ rec.salary }}<br>
            <b>{% trans "Marital status" %} :</b> {{ rec.marital_status }}<br>
            <b>{% trans "Gender" %} :</b> {{ rec.gender }}
        </div>
        <div class="col-md-2">
            <b>{% trans "Company" %} :</b> {{ rec.company.name }}<br>
            <b>{% trans "Company address" %}&nbsp;:</b> {{ rec.company.address }}<br>
            <b>{% trans "Company City" %} :</b> {{ rec.company.city }}<br>
        </div>
        <div class="col-md-3">
            <div style="background-color: #444444; color: #ccc; margin: 10px; padding: 5px; height: 80%">
                <b>{% trans "Interests" %}
                    :</b> {{ rec.interests.all|join:", " }}
            </div>
        </div>
    </div>
