{% extends "demo/base.html" %}
{% load static %}
{% load django_listing %}
{% block body %}
    <div class="col-md-6 offset-md-3 text-center">
        <h3>Documentation and some examples...</h3>
    </div>
    <div class="list-group col-md-6 offset-md-3 django-listing-menu">
        <a class="list-group-item list-group-item-action"
           href="{% url "readme_first" %}"><b>Read me
            first</b></a>
        <a class="list-group-item list-group-item-action"
           href="{% url "basic_usage" %}">Basic usage</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "many_ways" %}">There are many
            ways...</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "advanced_usage" %}">Advanced
            usage</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "pagination" %}">Pagination</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "div_rows" %}">Div rows</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "columns" %}">Columns</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "aggregation" %}">Aggregation</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "variations" %}">Variations</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "translation" %}">Translation</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "toolbar" %}">Toolbar</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "ajax" %}">Ajax</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "filters" %}">Filters</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "editable" %}">Editable listing</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "selectable" %}">Selectable
            listing</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "insertable" %}">Insertable
            listing</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "group_by" %}">"Group By" feature</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "speed_test" %}">Speed test</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "fonticons" %}">Built-in font
            icons</a>
        <a class="list-group-item list-group-item-action"
           href="{% url "ref_guide" %}"><b>Reference guide</b></a>
    </div>
{% endblock %}
