/*
 * Django-listing showcase demo custom SCSS
 */

@import "variables";
@import "bootstrap/mixins/breakpoints";

body {
    background-color: $gray-100;
}

.django-listing {
    background-color: $white;
}

.django-listing.listing-employeethumbnailslisting,
.django-listing.listing-toolbaremployeethumbnailslisting,
.django-listing.listing-toolbaremployeebigthumbnailslisting {
    background-color: inherit;
}

div.listing-container td {
    vertical-align: top;
}


div.django-listing-container div.row-container.thumbnail {
    display: inline-block;
    width:135px;
    height:200px;
    vertical-align: top;
    padding: 0px 10px;
}

div.django-listing-container div.row-container.thumbnail:hover {
    background-color: lighten($primary, 30);
}

div.django-listing-container div.row-container.upload-thumbnail {
    display: inline-block;
    width:160px;
    height:160px;
    vertical-align: top;
    padding: 5px 5px;
}

div.django-listing-container div.thumbnail-container {
    padding: 0;
}

div.django-listing-container div.row-container.upload-thumbnail:hover {
    background-color: $primary;
}

div.django-listing-container div.row-container.big-thumbnail {
    display: inline-block;
    width:360px;
    height:440px;
    vertical-align: top;
    padding: 0px 10px;
}
div.django-listing-container div.django-listing.div-hover div.row-container:hover,
div.django-listing-container tr:hover {
    background-color: lighten($primary, 30);
}

div.django-listing-container div.row-container.big-thumbnail a,
div.django-listing-container div.row-container.thumbnail a{
    text-decoration: none;
}

table.django-listing > tfoot {
    border-top: 2px solid $primary;
}

.django-listing td.col-column12, .django-listing td.col-interests {
    word-wrap: break-word;
    word-break: break-all;
}

.row-container.thumbnail img {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.row-container.big-thumbnail img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

h1 img {
    padding: 20px 0;
    max-width: 60%;
}

.list-4-cols {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
    list-style: none;
}

h2 {
    font-size: 2rem;
    border-bottom: 2px solid $primary;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 a:hover {
    text-decoration: none;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
}

h3::before {
    content: '\e848';
    color: $primary;
    font-family: "django_listing";
    margin-right: 6px;
}

code {
    color: darken($primary, 5);
}

a, .page-link {
    color: $primary;
}

a:hover, .page-link:hover {
    color: darken($primary, 5);
}

.page-item.active .page-link  {
    background-color: $primary;
    border-color: $primary;
}

//.page-link:focus {
//    box-shadow: 0 0 0 0.2rem rgba(41, 167, 69, 0.25);
//}
//
//.form-control:focus {
//    box-shadow: 0 0 0 0.2rem rgba(41, 167, 69, 0.25);
//    border-color: $primary;
//}

//.btn-primary:focus, .btn-primary:active,
//.btn-primary:not(:disabled):not(.disabled).active,
//.btn-primary:not(:disabled):not(.disabled):active,
//.show>.btn-primary.dropdown-toggle, .btn-primary:not(:disabled):not(.disabled):active:focus {
//    //box-shadow: 0 0 0 0.2rem rgba(41, 167, 69, 0.25);
//    color: #fff;
//    background-color: darken($primary, 5);
//    border-color: darken($primary, 5);
//}
//
form.listing-form {
    border: 2px solid $primary;
    border-radius: 6px;
    padding: 20px;
}

.django-listing-menu a:hover {
    background-color: darken($primary, 5);
    color: $white;
}

.django-listing-editing td.col-age input {
    width:52px;
}

.django-listing-editing td.col-address textarea {
    width:200px;
}

.django-listing-editing td.col-salary input {
    width:82px;
}

.django-listing-editing td.col-marital_status select {
    width:110px;
    padding-left: 2px;
    padding-right: 0;
}

div.django-listing-container div.row-container.selected div.selection-overlay div.checkbox {
    color: $white;
}

.listing-selection-menu {
    display: none;
    background-color: $primary;
    color: $white;
    font-size: 20px;
    padding: 4px 20px;
}

a.menu-dropdown {
    color: $white;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $primary;
}

select option[selected], select option:hover {
    background-color: $primary;
    color: $white;
}

select {
    border-color: $primary;
}

form span.asteriskField {
  color: $primary;
  padding-left: 5px;
}

div.listing-spinner {
    color: $primary;
    font-size: 32px;
}

table.object-popup {
    width: 100%;
}

table.object-popup td.section {
    padding-bottom: 5px;
}

table.object-popup th {
    width: 50px;
    white-space: nowrap;
}

table.object-popup td.section span {
    text-decoration: none;
    border-bottom: 2px solid $primary;
    display: block;
}

.dropzone .dz-preview .dz-details .dz-size {
    margin-bottom: 2em;
}

.dropzone .dz-preview .dz-details .dz-filename {
    font-size: 9px;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 8px;
    background: #999;
    background: linear-gradient(to bottom,$gray-200,$primary);
}

.dropzone .dz-preview.dz-file-preview .dz-progress::after {
    content: 'Optimizing...';
    font-size: 14px;
}

.dropzone .dz-preview.dz-file-preview .dz-progress {
    background: none;
    overflow: initial;
    padding-left: 4px;
}

//.form-select:focus {
//    box-shadow: 0 0 0 0.2rem rgba(41, 167, 69, 0.25);
//    border-color: $primary;
//}
//
//.form-check-input:focus {
//    box-shadow: 0 0 0 0.2rem rgba(41, 167, 69, 0.25);
//    border-color: $primary;
//}

.form-check-input:checked {
    background-color: $primary;
    border-color: $primary;
}

td.col-gender > div.form-field {
    width: 90px;
}