alabaster==0.7.13
asgiref==3.6.0
Babel==2.12.1
certifi==2022.12.7
charset-normalizer==3.1.0
defusedxml==0.7.1
Django==4.2
django-appconf==1.0.5
django-better-image==0.0.4
django-extensions==3.2.1
django-imagekit==4.1.0
-e ..
django-modals==0.0.1
django-robohash-svg==0.9.5
django-tables2==2.5.3
docutils==0.19
et-xmlfile==1.1.0
gunicorn==20.1.0
idna==3.4
imagesize==1.4.1
Jinja2==3.1.2
MarkupPy==1.14
MarkupSafe==2.1.2
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.1
pilkit==2.0
Pillow==9.5.0
Pygments==2.15.1
requests==2.29.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==6.2.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
tablib==3.4.0
urllib3==1.26.15
whitenoise==6.4.0
