{% extends "./listing.html" %}
{% block listing %}
    <div{{ listing.attrs }}>
        {% with listing.chart_data as data %}
        {% if data.values %}
            {{ data|json_script:data.json_id }}
            <div id="chart"></div>
            <script>
                (() => {
                    const data = JSON.parse(document.getElementById("{{ data.json_id }}").textContent);
                    console.log(data);
                    new ApexCharts(document.querySelector("#chart"), {
                        colors: data.colors,
                        series: [{
                            name:'Active values (Sum)',
                            data: data.values
                        }],
                        chart: {
                            id: 'chart',
                            type: 'bar',
                            height: 350,
                            zoom: {
                                autoScaleYaxis: true
                            }
                        },
                        plotOptions: {
                            bar: {
                                columnWidth: '85%',
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        markers: {
                            size: 0,
                            style: 'hollow',
                        },
                        xaxis: {
                            type: 'datetime',
                            tickAmount: 6,
                        },
                        tooltip: {
                            x: {
                                format: 'dd MMM yyyy'
                            }
                        }
                    }).render();
                })();
            </script>
            <br style="clear: both;"/>
        {% else %}
            {% if listing.empty_table_msg %}
                {% block listing_empty %}
                    <div class="empty-message">
                        {{ listing.empty_table_msg }}
                    </div>
                {% endblock listing_empty %}
            {% endif %}
        {% endif %}
        {% endwith %}
    </div>
{% endblock listing %}