{% extends "demo/base.html" %}
{% load django_listing %}

{% block body %}
    <h2><a href="{% url 'columns' %}">Columns</a> : Aggregation columns</h2>
    <p>Have a look at <code>demo/templates/demo/columns/columns3.html</code> and
        <code>ColumnsListing3View</code> in
        <code>demo/views.py</code> and TotalListing in <code>demo/listings.py</code>
        to see how examples are coded</p>

    <!-- ------------------------------------------------------------------------------------------------------- -->
    <h3>Total, average, min and max columns</h3>
    {% render_listing TotalListing numbers_matrix per_page=5%}
    Note : It is not possible to sort a computed column. If you really want to sort such columns,
    you have to compute them before passing the data to django-listing.
    For querysets you can use Django .annotate(). For list of lists or dicts, you have to add a computed column yourself
    (a list comprehension should easily do the trick).
    <br><br>
    <p><u>Exemple</u> where total, average, max and min columns has been added in data before giving them to django-listing :</p>
    {% render_listing matrix_with_sum_avg_max_min average__value_tpl="{value:.1f}" columns_headers=",,,,,,Total,Average,Max,Min" per_page=5 %}
    <br><br>

{% endblock %}
