{% extends "demo/base.html" %}
{% load django_listing %}

{% block body %}
    <h2><a href="{% url 'columns' %}">Columns</a> : Actions column</h2>
    <p>Have a look at <code>demo/templates/demo/columns/columns5.html</code> and
        <code>ColumnsListing5View</code> in
        <code>demo/views.py</code> and ActionsColumnListing in <code>demo/listings.py</code>
        to see how examples are coded</p>

    <!-- ------------------------------------------------------------------------------------------------------- -->
    {% render_listing %}

{% endblock %}
